.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn .btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: black;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.menu-btn.close .btn-line:nth-child(1) {
  -webkit-transform: rotate(45deg) translate(5px, 5px);
          transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.close .btn-line:nth-child(2) {
  opacity: 0;
}

.menu-btn.close .btn-line:nth-child(3) {
  -webkit-transform: rotate(-45deg) translate(7px, -6px);
          transform: rotate(-45deg) translate(7px, -6px);
}

.menu {
  position: absolute;
  width: 100%;
  visibility: hidden;
  opacity: 0;
}

.menu.show {
  visibility: visible;
  background: whitesmoke;
  margin-top: 25px;
  height: 20em;
  overflow: hidden;
  opacity: 1;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.content-header {
  background: url("../images/white-sakura.jpg");
  background-position: 30% 55%;
}

.slogan {
  padding: 1.5em;
  max-width: 1200px;
  margin: 0 auto;
  text-align: right;
}

.slogan .slogan-en {
  font-size: 3em;
}

.slogan .slogan-th {
  font-size: 2em;
}

.content-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-main .wrapper-founder {
  margin: 4em;
  width: 300px;
}

.content-main .wrapper-founder .info-card {
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: whitesmoke;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content-main .wrapper-founder .info-card .image {
  padding: 20px;
  border-bottom: 3px solid #fd9db1;
}

.content-main .wrapper-founder .info-card img {
  border-radius: 50%;
}

.content-main .wrapper-founder .info-card h4 {
  margin: 0;
  padding: 20px 10px 8px;
}

.content-main .wrapper-founder .info-card small {
  display: block;
}

.content-main .wrapper-founder .info-card .in-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 20px;
}

.content-main .wrapper-founder .info-card .in-card-list li {
  padding: 0 10px;
}

.content-main .wrapper-founder .info-card .in-card-list li i {
  color: #754951;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Kanit', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.master-header {
  padding: 1.5em 0;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  font-size: 1.8em;
  font-weight: bold;
  padding: 0 20px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 10%;
}

header ul li {
  padding: 15px 0 10px;
  border-bottom: 1px solid #ffb7c5;
}

header ul li small {
  text-align: left;
  display: block;
}

.master-footer {
  padding-right: 1.5em;
  text-align: center;
  margin-bottom: 1em;
}

.parallax {
  /* The image used */
  background-image: url("/images/parallax_white.jpg");
  /* Set a specific height */
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content-header {
  padding: 1.5em;
  height: 20em;
  background-size: cover;
}

.slogan {
  padding: 1.5em;
  max-width: 1200px;
  margin: 0 auto;
  text-align: right;
}

.slogan .slogan-en {
  font-size: 3em;
}

.slogan .slogan-th {
  font-size: 2em;
}

@media (min-width: 750px) {
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header .logo {
    font-size: 1.8em;
    font-weight: bold;
  }
  header .master-nav {
    padding: 0 20px;
  }
  header .menu {
    position: relative;
    visibility: visible;
    padding: 0;
    opacity: 1;
  }
  header ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  header ul li {
    padding: 0 20px;
    border-bottom: 0px;
  }
  header ul small {
    text-align: left;
    display: block;
  }
  .menu-btn {
    opacity: 0;
    visibility: hidden;
  }
}
/*# sourceMappingURL=main.css.map */