// Start from content-header
.content-header {
    background: url("../images/rz-white-sakura.jpg");
    background-position: 30% 55%;
}

.slogan {
    padding: 1.5em;
    max-width: 1200px;
    margin: 0 auto;
    text-align: right;

    .slogan-en {
        font-size: 3em;
    }
    .slogan-th {
        font-size: 2em;
    }
}

.content-main {
    display: flex;
    flex-direction: column;
    align-items: center;

    .wrapper-founder {
        margin: 4em;
        width: min(300px);

        .info-card {
            box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
            background: whitesmoke;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .image {
                padding: 20px;
                border-bottom: 3px solid #fd9db1;
            }

            img {
                border-radius: 50%;
            }

            h4 { 
                margin: 0;
                padding: 20px 10px 8px;
            }

            small {
                display: block;
            }

            .in-card-list {
                display: flex;
                flex-direction: row;
                padding-bottom: 20px;
                li {
                    padding: 0 10px;
                    i {
                        color: #754951;
                    } 
                }
            }
        }
     } 
    
}