// For menu button
@mixin easeOut {
    transition: all 0.5s ease-out;
}

.menu-btn {
    position: absolute;
    z-index: 3;
    right: 35px;
    top: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line {
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: black;
        @include easeOut;
    }

    // Rotate BTN to X
    &.close {
        transform: rotate(180deg);
        @include easeOut;

        .btn-line {
            // Line 1 - Rotate
            &:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }

            // Line 2 - Hide
            &:nth-child(2) {
                opacity: 0;
            }

            // Line 3 - Rotate
            &:nth-child(3) {
                transform: rotate(-45deg) translate(7px, -6px);
            }

        }
    }
}

.menu {
    position: absolute;
    width: 100%;
    visibility: hidden;
    opacity: 0;
    @include easeOut;

    &.show {
        visibility: visible;
        background: whitesmoke;
        margin-top: 25px;
        height: 20em;
        overflow: hidden;
        opacity: 1;
        @include easeOut;
    }

}

@media (min-width: 750px) {
    .menu-btn {
        transition: none;
        opacity: 0;
        visibility: hidden;
    }

    .menu {
        transition: none;
    }

}